.home-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-glass {
  background: linear-gradient(
    to right bottom,
    rgba(23, 25, 35, 0.7),
    rgba(23, 25, 35, 0.3)
  );
  z-index: 2;
  border-radius: 2rem;
  backdrop-filter: blur(2rem);
  padding: 50px;
}
.home-glass > * {
  margin-top: 30px;
}

.home-head {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.dropdown-section {
  display: flex;
  justify-content: space-between;
}
.dropdown1 {
  width: 49%;
}
.dropdown2 {
  width: 49%;
}

.home-pattarai-text {
  font-family: Montserrat;
  font-weight: 300;
  letter-spacing: 15px;
}

.home-grievance-text {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 3em;
}

.home-img {
  height: 5rem;
  width: 5rem;
}

.home-circle1 {
  left: 13%;
  bottom: 6%;
}
.home-circle2 {
  right: 12%;
  top: 25%;
}

@media (max-width: 640px) {
  .home-head {
    width: 100%;
  }
  .home-pattarai-text {
    letter-spacing: 10px;
    font-size: 10px;
  }
  .home-grievance-text {
    font-size: 25px;
  }
  .home-img {
    height: 3rem;
    width: 3rem;
  }
}
