@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

/* Custom Scrollbar */
html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-track {
  background-color: #1b1b1b;
}
html::-webkit-scrollbar-thumb {
  background-color: #fafafa;
  border-radius: 10px;
}
/* Custom Scrollbar */

body {
  background-color: #0f1118;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass {
  background-color: #ffffff;
  width: 100%;
  background: linear-gradient(
    to right bottom,
    rgba(23, 25, 35, 0.7),
    rgba(23, 25, 35, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  padding: 50px;
}

.login-circle1,
.login-circle2,
.home-circle1,
.home-circle2,
.thankyou-circle1,
.thankyou-circle2,
.error-circle1,
.error-circle2 {
  background: #ffffff;
  background: linear-gradient(
    to right bottom,
    rgba(21, 230, 202, 0.9),
    rgba(21, 230, 202, 0.5)
  );
  height: 10rem;
  width: 10rem;
  position: absolute;
  border-radius: 50%;
}

/* Circles */
.login-circle1 {
  bottom: 2%;
  left: 10%;
}
.login-circle2 {
  top: 40%;
  right: 10%;
}
.home-circle1 {
  bottom: 10%;
  left: 13%;
}
.home-circle2 {
  top: 28%;
  right: 13%;
}
.thankyou-circle1 {
  bottom: 30%;
  left: 15%;
}
.thankyou-circle2 {
  top: 30%;
  right: 27%;
}
.error-circle1 {
  bottom: 25%;
  left: 25%;
}
.error-circle2 {
  top: 30%;
  right: 27%;
}
/* Circles */

.login-text-main {
  color: #fafafa;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 5rem;
}

.home-text-main {
  color: #fafafa;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
}

.heading-choose {
  color: #ececec;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 2rem;
}

.form-select,
.form-control,
option {
  color: #d6d6d6;
  background-color: #0f1118;
  border-color: #4e9992;
}

.btn {
  color: black;
  background-color: #15e6ca;
  font-family: "Poppins";
  font-weight: 500;
}

.pattarai-text {
  color: #fafafa;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 15px;
}

.card {
  color: #fafafa;
  background-color: #181a22;
  border-color: #4e9992;
}

.badge {
  background-color: #25c0b1;
  color: #000000;
}

img {
  height: 80px;
  min-width: 80px;
}

@media only screen and (max-width: 765px) {
  .login-text-main {
    font-size: 3rem;
  }
  .home-text-main {
    font-size: 2rem;
  }
  .home-pattarai-text {
    font-size: 10px;
  }
  .pattarai-text {
    letter-spacing: 10px;
  }
}
